<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>LostCar - поиск машин</title>
  <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<h1>Объявления по продаже машин</h1>

  <thead>
  <tr>
    <th>Описание</th>
    <th>Статус</th>
    <th>Машина</th>
    <th>Автор</th>
    <th>Дата публикации</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td th:text="${post.description}"></td>
    <td th:text="${post.sold ? 'Продано' : 'В продаже'}"></td>
    <td>
      <div>
        Марка: <span th:text="${post.car.brand}"></span><br>
        Модель: <span th:text="${post.car.model}"></span><br>
        Тип: <span th:text="${post.car.bodyType}"></span>
      </div>
    </td>
    <td th:text="${post.user.username}"></td>
    <td th:text="${post.created}"></td>
  </tr>
  </tbody>
</table>
<br>
<a href="/posts/add">Добавить новое объявление</a>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
